<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.product.mapper.ProdMapper">
  <select id="prodPageQuery" resultType="Product">
   select * from t_product limit #{start}, #{rows}
  </select>
  <select id="queryTotal" resultType="int">
   select count(product_id) from t_product
  </select>
  <!-- product query select tag -->
  <select id="queryById" parameterType="String" resultType="Product">
   select * from t_product where product_id=#{prodId}
  </select>
  <!-- save a product object data -->
	<insert id="productSave" parameterType="Product">
		insert into t_product (
		product_id,
		product_name,
		product_category,
		product_num,
		product_imgurl,
		product_price,
		product_description
		) values (
		#{productId},
		#{productName},
		#{productCategory},
		#{productNum},
		#{productImgurl},
		#{productPrice},
		#{productDescription}
		)
	</insert>
	<update id="productUpdate" parameterType="Product">
		update t_product set 
		product_name=#{productName},
		product_category=#{productCategory},
		product_num=#{productNum},
		product_price=#{productPrice},
		product_description=#{productDescription},
		product_imgurl=#{productImgurl}
		where product_id=#{productId};
	</update>
	<delete id="deleteProd" parameterType="String">
		delete from t_product where product_id = #{id}
	</delete>
</mapper>